spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hyderabad_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  redis:
    host: localhost
    port: 6379

server:
  port: 8080

app:
  jwt:
    secret: change-me-in-prod
    expiration-ms: 3600000
    refresh-expiration-ms: 2592000000

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
